nav {
  width: 100%;
  background-color: black;
  color: pink;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 10;
}

nav > div > div > a {
  text-decoration: none;
  color: pink;
}

nav > div {
  width: 70%;
  margin-left: 15% !important;
  --bs-gutter-x: 0rem !important;
}

nav > div > div > a:hover {
  color: purple;
}
